<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/test.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Intro:</h1>
    <p><%=intro%></p>
    <h1>Morgen:</h1>
    <p><%=morning1%></p>
    <h1>Abend:</h1>
    <p><%=execution1%></p>
    <h1>Morgen:</h1>
    <p><%=morning2%></p>
    <h1>Abend:</h1>
    <p><%=execution2%></p>
    <h1>Morgen:</h1>
    <p><%=morning3%></p>
    <h1>Abend:</h1>
    <p><%=execution3%></p>
    <h1>Morgen:</h1>
    <p><%=morning4%></p>
    <h1>Abend:</h1>
    <p><%=execution4%></p>
    <h1>Morgen:</h1>
    <p><%=morning5%></p>
    <h1>Ende 1: Alle Tot:</h1>
    <p><%=ending1%></p>
    <h1>Ende 2: Das Dorf hat gewonnen:</h1>
    <p><%=ending2%></p>
    <h1>Ende 3: Die Werwölfe haben gewonnen:</h1>
    <p><%=ending3%></p>

</body>
</html>

